@use './variables' as v;
@use './mixins' as m;

header {
  .navbar {
    background-color: v.$primary-color;

    .navbar-brand {
      img {
        width: clamp(64px, 12vw, 100px);
        height: auto;
        object-fit: contain;
        display: block;
      }
    }

    .navbar-nav {
      @include m.flex-center;
      flex: 1;
      gap: m.$spacing-unit;
    }

    .nav-link {
      color: v.$text-color-white;
      font-weight: 450;
      &:hover,
      &.active {
        color: v.$secondary-color;
      }
    }
  }
}
