
@use './mixins' as m;

.menuCarouselClass {
  .carousel-inner { overflow: visible; }
  .carousel-item { overflow: hidden; }
  .carousel-item.active { overflow: visible; }

  .row {
    align-items: stretch;
  }  

  .card {
    @include m.levantar-hover(-10px, 0.25s);
    will-change: transform;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .card-img-top {
    height: 350px;
    object-fit: cover;
    width: 100%;
  }

    @media (max-width: 576px) {
    .card-img-top { height: 220px; }
  }
}