// base/_utilities.scss
@use '../abstracts/variables' as vars;

.u-text-center {
  text-align: center;
}

.u-mb-1 {
  margin-bottom: vars.$spacer;
}

.u-mt-1 {
  margin-top: vars.$spacer;
}

.u-p-1 {
  padding: vars.$spacer;
}
