// layout/_grid.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;
@use "sass:math";


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 vars.$spacer;

  @include mixins.respond-to(md) {
    max-width: 720px;
  }
  @include mixins.respond-to(lg) {
    max-width: 960px;
  }
  @include mixins.respond-to(xl) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * vars.$spacer / 2);
}

.row > [class*='col-'] {
  padding: 0 calc(vars.$spacer / 2);
}

@for $i from 1 through 12 {
  .col-#{$i} {
   width: math.percentage(math.div($i, 12));
  }
}
