@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.header {
  background: vars.$gray-dark;
  height: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  .navbar {
    padding: 0.5rem 1rem;

    .navbar-brand {
      display: flex;
      align-items: center;

      img {
        height: 60px;
        width: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .navbar-nav {
      .nav-item {
        margin: 0 0.5rem;

        .nav-link {
          color: vars.$accent-yellow;
          font-weight: 500;
          font-size: 1rem;
          position: relative;
          transition: color 0.3s ease;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: vars.$accent;
            transition: width 0.3s ease;
          }

          &:hover {
            color: vars.$accent;

            &::after {
              width: 100%;
            }
          }

          &.active {
            color: vars.$accent;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }

    .navbar-toggler {
      border: none;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
