header {
  .navbar {
    background-color: $primary-color;

    .navbar-brand {
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        display: block;
      }
    }

    .navbar-nav {
      @include flex-center;
      flex: 1;
      gap: $spacing-unit;
    }


    .nav-link {
      color: $text-color-white;
      font-weight: 450;
      &:hover,
      &.active {
        color: $secondary-color;
      }
    }
  }
}