.seccion {
  @include flex-center;
  text-align: center;
  flex-direction: column;
  padding: $spacing-unit;
  padding-bottom: $spacing-unit * 2;
  gap: $spacing-unit;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

   blockquote {
    background: $bg-color;
    padding: $spacing-unit * 1.5;
    border-left: 5px solid #3019db;
    border-radius: 8px;
    font-style: italic;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    p {
      margin-bottom: 0.5rem;
    }

    cite {
      display: block;
      text-align: right;
      font-weight: bold;
      color: #555;
      font-style: normal;
    }
  }
}

h1 {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
  font-weight: 700;
}

h2 {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;
}

h3 {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 4;
  font-size: 1.25rem;
}

.boton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-top: $spacing-unit;
  background-color: $boton-color;
  color: $text-color-white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  @include levantar-hover(-3px, 0.25s);
}