.texto-centrado { text-align: center; }
.centrar-bloque { display: block; margin: 0 auto; }
.transicion-suave { transition: $transition; }

ul {
  list-style-type: square;
  color: $color-primario;
}
