// ==========================
// VARIABLES
// ==========================
$color-fondo: #fff8f0;
$color-texto: #333;
$color-primario: #6f4e37;
$color-secundario: #4a2f1a;
$color-acento: #e4ad08;
$color-enlace: #007bff;
$color-enlace-hover: #0056b3;

$color-facebook: #3b5998;
$color-google: #db4437;
$color-x: #000;

$font-stack: "Roboto", sans-serif;
$transition: all 0.3s ease-in-out;
